$lightest-gray: #f7f7f5;
$light-gray: #e2e2e2;
$gray: #999;
$dark-gray: #6f6f6f;

$linkr-blue: #0a66c2;
$linkr-blue-transparent: #0a66c20c;
$linkr-blue-less-transparent: #0a66c218;
$darker-linkr-blue: #07498b;
$linkr-orange: rgb(228, 66, 17);
$linkr-orange-transparent: rgba(228, 66, 17, 0.479);
$darker-linkr-orange: #e22b0b;
$other-orange: #dc6240;