$top: 4vw;
$name-size: 3.5vw;
$picture-size: 3.5vw;
$perc-height: 100%;
$perc-width: 100%;
$img-size: 200px;
$device: mobile;
$direction: '';

@mixin box-shadow($inOpacity, $outOpacity){
  box-shadow:
  rgba(white, $outOpacity) 0 1px 0, 
  rgba(black, $inOpacity) 0 1px 0 inset;
}

%box-shadow{
  @include box-shadow(.4, .7)
}

@mixin scaleSize($type, $factor){
  @if $type == full{
    height: $perc-height * $factor;
    width: $perc-width * $factor; 
  } 
  @if $type == profile{
    height: $img-size*$factor;
    width: $img-size*$factor;
  }
}

@mixin flex-direction($media){
  @if media == mobile {
    $direction: $column;
  }
  @if media == computer{
    $direction: $row;
  }
}
@media screen and (min-width: 1201px){
    #about-us-list{
      flex-direction: row;
      margin: 50px 30px;
    }
    .about-us-img{
      border: 3px solid $linkr-blue;
    }
    .a-u-link{
      height: 2vw;
      width: 2vw; 
      margin: .3vw;
    }
    #about-us-personal-message{
      font-size: 1.5vw; 
      height: 20%;
      width: 100%; 
    }
  }
@media screen and (max-width: 1200px){
  #about-us-list{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    li{
      width:70vw;
      margin: 30px auto;
    }
  }
  .about-us-img{
    border: 3px solid $linkr-blue;
  }
  .a-u-link{
    height: 10vw;
    width: 10vw; 
    margin: 4vw;
  }
  #about-us-personal-message{
    font-size: 13px; 
    height: fit-content;
  }
}

#about-us{
  background-image: url("../../background_images/salar_clouds.png");
  background-size: cover; 
  @include scaleSize(full,1);
  overflow: auto;
}

#about-us-wrapper{
  transform: translateY($top);
}

#about-us-header{
  font-size: 4.5vw;
  font-family: $railway;
  text-align: center;
  color: white;
}
.about-us-name{
  font-size: 2.5vw;
  font-family: $railway;
  color: #0e4468;
}
.about-us-img-container{
  @include scaleSize(profile, 1);
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px; 
}
.about-us-img{
  border: 5px solid $linkr-blue;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.about-us-links{
  height: 2vw; 
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.a-u-link{
  float:left;
}


#about-us-list{
  display: flex;
  height: 50%;
  justify-content: center;
  align-content: center;
  li{
    display: flex;
    flex-direction: column;
    height: 50%;
  }
}

#about-us-personal-message{
  width: 100%;
  color: white; 
  background-color: $linkr-blue-less-transparent; 
  text-align: center;
  @extend %box-shadow;
}