
.connections{
  background-image: url("../../background_images/salar_cotton_candy.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  // align-items: center;
}
.nav-bar{
  z-index: 5;
}

.connections{
  display: flex;
  flex-direction: row-reverse;
  padding: 0;
  height: 100%;

  > ul{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.83);
    height: min-content;
    border: 1px solid black;

    > li {
      height: 120px;
      width: 120px;
      min-height: 120px;
      min-width: 120px;
      a {

        height: inherit;
        display: flex;
        flex-direction: column;
        // align-items:flex-end;
        justify-content: space-between;
        
        &:active {
          background-color: $linkr-blue;
        }
      }

      &:active {
        background-color: grey;
      }
    }
  }
}

#friend-index{

  overflow-x: scroll;
}

.friend-index-item {
  align-self: center; 
  padding: 5px 10px;
  border-bottom: 1px solid grey;
  cursor: pointer;
  &:hover {
    background-color: lightgrey;
  }
  img {
    height: 100%;
    object-fit: cover;
  }

  a {
    text-decoration: none;
    color: black;

 
  }
}

.friend-index-item:first-of-type{
  border-top: 1px solid grey;
}

.friend-detail {
  width: 100%;
  transform:translateY(160px);
  position:absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;


  ul {
    text-align: center;

    li {
      font-size: 1.3vw;
      padding: 10px 0;
      color: black;
    }
  }
}


.friend-container{
  width:400px;

}

.friend-card{
  -webkit-box-shadow: -1px 1px 3px 4px rgba(37,92,122,0.62), 1px 2px 3px 5px rgba(67,122,152,0.62), 0px 5px 0px 7px rgba(198,147,177,0.79), inset 0px 0px 11px 1px rgba(192,186,148,0.76), inset 0px 0px 8px 1px rgba(192,186,148,0.76); 
box-shadow: -1px 1px 3px 4px rgba(37,92,122,0.62), 1px 2px 3px 5px rgba(67,122,152,0.62), 0px 5px 0px 7px rgba(198,147,177,0.79), inset 0px 0px 11px 1px rgba(192,186,148,0.76), inset 0px 0px 8px 1px rgba(192,186,148,0.76);
    text-align: center;
    font-family: $railway;
    background: linear-gradient(to bottom, #397090, #daa7c5 93%);
    border: 1px;
    border-radius: 50px;  
       overflow: auto;
    overflow-wrap: break-word;
    height: 660px; 
}

.friend-image-container{
    padding-top: 15px;
    width: 200px;
    height: 225px;
    display: flex;
    margin: auto;
    align-items: center;
  }
 #friend-image{
    // display: block;
    object-fit:cover;
    object-position:center;
      border: 3px solid gold;
      border-radius: 75px;
      padding: 4px;
      border-color: rgb(194, 173, 64);
      border-radius: 97px;
      background-size: cover;
      background-color: rgb(30, 144, 255);
      border: outset rgb(255, 0, 0);
      min-width: 175px;
      max-width: 200px;
      min-height: 170px;
      height: 170px;
      max-height: 200px;
      object-fit: cover;
      margin-left: 15px;
  }

.more-details-b{
    font-family: $railway;
    font-size: 15px;
    text-align: center;
    color: rgb(255, 215, 0);
    margin-top: -100px;
    margin-left: 10px;
}
#more-details{
    height: 30px;
    width: 30px;
    background-color: rgb(139, 0, 0);
    border: 1px solid rgb(255, 215, 0);
    border-radius: 15px;
}

.friend-user-info{
    display: flex;
    justify-content: space-between;
    color: $linkr-blue;


    .friend-user-icon{
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        padding-right: 20px;
    }
}

.friend-user-info.loc{
     display: flex;
    justify-content: center;
}
.friend-user-details-name{
    font-size: 35px;
    color: orange;

    
}

.friend-user-details{
    margin: 15px;
    color: orange;

    h2{
        font-size: 15px;
    }
}

.friend-links{
    display: flex;
    justify-content: center;
    h2{
        font-size: 18px;
    }
}

.friend-links.img{
    width: 25px;
}


.friend-container{
    perspective: 1000px;
    width: 400px;
}

.friend-card{
    width: 100%;
    height: 650px;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.friend-container.is-flipped .friend-card{
    transform: rotateY(180deg);
}

.friend-container.is-flipped .flip-card-front{
    display: none;
}

// .flip-card-front, .flip-card-back {
//   position: absolute;
//   width: 100%;
//   height: 650px;
//   -webkit-backface-visibility: hidden;
//   backface-visibility: hidden;
// }

// .flip-card-back{
//     transform: rotateY(180deg);
//     color: white;
// }
.friend-container.is-flipped .flip-card-back{
    backface-visibility: visible;
}

//end flip

.edit-form{
    label{
        justify-content: flex-end;
        display: flex;
        padding: 5px;
    }
}

.update-btn{
    margin-top: 20px;
  padding: 8px;
  border: 2px solid rgb(255, 215, 0);
  color: rgb(240, 248, 255);
  border-radius: 21px;
  background-color: rgb(184, 134, 11);
  box-shadow: 3px 3px 7px 0px black;
}