
#connections #background{
  object-fit: fill;
  position: relative; 
  z-index: -10;
}
#connections-outer-div{

  height: 100vh;
  width: 100vw;
  background-color: inherit;
  position: absolute;

  // background-image: linear-gradient(180deg, #ffffff 90%, #0000ff 50%, #ffff00 50%, #ffff00 75%,#ffffff 90%, #0000ff 75%, #0000ff 100%, #ffffff 100%);
  // background-size: 2.00px 6.00px;

}

#connection-div {
  margin-left: 4.5vw;
  margin-top: 5.3vw;
  height: 84vh;
  width: 90vw;
  border: 10px solid $linkr-blue;
  border-radius: 10px;

-webkit-box-shadow: 0px 0px 7px 3px rgba(0,0,255,0.41), 0px 0px 7px 3px rgba(255,255,0,0.39), 0px 0px 7px 3px rgba(255,255,0,0.39); 
box-shadow: 0px 0px 7px 3px rgba(0,0,255,0.41), 0px 0px 7px 3px rgba(255,255,0,0.39), 0px 0px 7px 3px rgba(255,255,0,0.39);
}
.connections{
  background-image: url("../../background_images/salar_cotton_candy.png");
  background-size: cover;
  // transform: translateY(5vw);
  // margin-top: 10vh;
  display: flex;
  flex-direction: row-reverse;
  padding: 0;
  height: 83vh; 
  background-color:inherit;
  
  > ul{
    width: auto;
    height: 75vh;
    box-sizing: border-box;
    border: 6px solid black;
    border-radius: 20px;

    > li {
      a {
        display: block;
      }

      &:active {
        background-color: grey;
      }
    }
  }
}

#friend-index{
    transform: translateY(3vw);
    margin-right: 6vw;
    overflow-y:scroll;
}
.friend-index-item span{

}
.friend-index-item {
  align-self: center; 
  padding: 5px 10px;
  border-bottom: 1px solid grey;
  cursor: pointer;
  &:hover {
    background-color: lightgrey;
  }

  img {
    width: 5vw;
    margin: 0 10px;
    vertical-align: middle;
  }

  a {
    text-decoration: none;
    color: black;

    &:active {
      background-color: $linkr-blue;
    }
  }
}

.friend-index-item:first-of-type{
  border-top: 1px solid grey;
}

.friend-detail {
  z-index: 3;
  transform:translateY(8.4vw);
  margin-left: 5.5vw;
  width: 30%;
  height: 75vh;
  position:absolute;

  ul {
    text-align: center;

    li {
      font-size: 1.3vw;
      padding: 10px 0;
      color: black;
    }
  }
}


.friend-container{
      width:fit-content;

}

.friend-card{
  -webkit-box-shadow: -1px 1px 3px 4px rgba(37,92,122,0.62), 1px 2px 3px 5px rgba(67,122,152,0.62), 0px 5px 0px 7px rgba(198,147,177,0.79), inset 0px 0px 11px 1px rgba(192,186,148,0.76), inset 0px 0px 8px 1px rgba(192,186,148,0.76); 
box-shadow: -1px 1px 3px 4px rgba(37,92,122,0.62), 1px 2px 3px 5px rgba(67,122,152,0.62), 0px 5px 0px 7px rgba(198,147,177,0.79), inset 0px 0px 11px 1px rgba(192,186,148,0.76), inset 0px 0px 8px 1px rgba(192,186,148,0.76);
    text-align: center;
    font-family: $railway;
    background: linear-gradient(to bottom, #397090, #daa7c5 93%);
    border: 1px;
    border-radius: 50px;  
    width: 100%;
    margin-left: 10vw;
    max-height: 83vh;
    max-width: 40vw;
    width: 27vw;
    height: 76vh;
    overflow: hidden;
}

.friend-image-container{
    width: 12vw;
    height: 12vw;
    display: flex;
    margin: auto;
    padding-top: 1vw;
    align-items: center;
    img{
      display: block;
      // margin-right: auto;
      // margin-left: auto;
      // width: 100%;
      height: 100%;
      object-fit:cover;
      object-position:right;
        border: 1px solid gold;
        border-radius: 75px;
        padding: 4px;
        border-color: rgb(194, 173, 64);
        border-radius: 97px;
        background-size: cover;
        background-color: rgb(30, 144, 255);
        border: outset rgb(255, 0, 0);
    }
}



.friend-user-info{
    display: flex;
    justify-content: space-between;
    color: $linkr-blue;


    .friend-user-icon{
        width: 2vw;
        height: 2vw;
        display: flex;
        justify-content: center;
        padding-right: 20px;
    }
}

.friend-user-info.loc{
     display: flex;
    justify-content: center;
}

.friend-user-details{
    margin: 15px;
    color: orange;
    h2{
        font-size: .9vw;
    }
}

.friend-links{
    display: flex;
    justify-content: center;
    h2{
        font-size: 1vw;
    }
}

.friend-links.img{
    width: 25px;
}