@viewport{
  zoom: 1.0;
  min-zoom: 0.5;
  max-zoom: 1.0;
}
$max320: "(max-height: 320px)";
$max480: "(max-height: 480px)";
$max764: "(max-height: 764px)";
$max1024: "(max-height: 1024px)";
$max1200: "(max-height: 1200px)";
$max1500: "(max-height: 1500px)";

@mixin box-shadow($inOpacity, $outOpacity){
  box-shadow:
  rgba(white, $outOpacity) 0 1px 0, 
  rgba(black, $inOpacity) 0 1px 0 inset;
}

@mixin connectionsFont{
  align-self: center;
  background: #506CDE;
  background: -webkit-linear-gradient(to bottom right, #506CDE 0%, #DAA7C5 54%);
  background: -moz-linear-gradient(to bottom right, #506CDE 0%, #DAA7C5 54%);
  background: linear-gradient(to bottom right, #40539c 0%, #da73af 54%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;	
  -webkit-text-stroke: .5px black;
}
.connections{
  @media (max-height: 899px) {height: 125vh;};
  @media (max-height: 800px) {height: 135vh;};
  @media (max-height: 700px) {height: 150vh;};
  @media (max-height: 600px) {height: 170vh;};
  @media (max-height: 550px) {height: 185vh;};
  @media (max-height: 500px) {height: 210vh;};
  @media (max-height: 450px) {height: 240vh;};
  @media (max-height: 400px) {height: 270vh;}
  @media (max-height: 350px) {height: 310vh;}
  @media (max-height: 300px) {height: 340vh;}
  @media (min-height: 900px) {height: 100vh;}
}

#connections-title{
    font-size: 50px;
    @include connectionsFont();
    font-family: $railway;
    @include box-shadow(.4,.7);
    text-align: center;
    @media screen and (max-width: 1259px){
      display: none;
    }
}
#connections-title-wrapper{
  @media screen and (min-width: 1260px){
    background-color: $linkr-blue-less-transparent;
    height: fit-content; 
    width: 100%;
    position: absolute;
    top: 10%;
  }
}



.connections{
  background-image: url("../../background_images/salar_cotton_candy.png");
  background-size: cover; 
  background-repeat: repeat-y;
  display: flex;
  padding: 0;
  @media screen and (min-width: 1260px){
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    margin: auto;
  }
  @media screen and (max-width: 1259px){
    justify-content: center;
    flex-direction: row;
  }
}

#friend-index{
  background-color: rgba(255, 255, 255, 0.294);

  -webkit-box-shadow: -1px 1px 3px 4px rgba(37, 92, 122, 0.459), 1px 2px 3px 5px rgba(67, 122, 152, 0.452), 0px 5px 0px 3px rgba(198,147,177,0.79), inset 0px 0px 11px 1px rgba(192,186,148,0.76), inset 0px 0px 8px 1px rgba(192,186,148,0.76);
  box-shadow: -1px 1px 3px 4px rgba(37, 92, 122, 0.459), 1px 2px 3px 5px rgba(67, 122, 152, 0.452), 0px 5px 0px 3px rgba(198,147,177,0.79), inset 0px 0px 11px 1px rgba(192,186,148,0.76), inset 0px 0px 8px 1px rgba(192,186,148,0.76);
  @media screen and (min-width: 1259px){
    overflow-y:scroll;
    position: absolute;
    width: 370px;
    height: 390px;
    max-height: 60%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-auto-rows: 31%; 
    margin: auto;
    right: 25px;
    top: 35%;
    justify-content: center;
    justify-items: center;
    align-content: center;
  }

  @media screen and (max-width: 1259px){
    transform:translateY(95px);
    // margin: 0 20px;
    // margin: 0 auto;
    height: fit-content;
    min-width: 50%;
    margin-bottom: 100px;
    display: flex; 
    flex-direction: row;
    overflow-x:scroll;
    // width: fit-content;
    width: 100%;
    height: min-content;
  }
  @media screen and (min-width: 1500px){
    width: 440px;
    height: 470px;
    top: 30%;
  }
}


.connections .card{
  background-color: rgba(47, 58, 156, 0.83);
}


.friend-index-item {

  align-self: center; 
  padding: 5px 5px;
  background-color: rgba(245, 245, 245, 0.424);
  cursor: pointer;
  img {
    height: 100%;
    object-fit: cover;
  }
  a {
    text-decoration: none;
  }
  &:hover {
    background-color: lightgrey;
  }
  &:active {
    background-color:rgba(47, 58, 156, 0.83);;
    // background-color:rgba(44, 36, 90, 0.83);
  }
  height: 123px;
  width: 123px;
  min-height: 123px;
  min-width: 123px;

  @media screen and (min-width: 1260px){
    height: 105px;
    width: 105px;
    min-height: 105px;
    min-width: 105px;
    float:right;
    margin: 3px;
  }
  @media screen and (max-width: 1259px){
    //on resize 
    height: 10vw;
    width: 10vw;
    min-height: 80px;
    min-width: 80px;
  }
  
}

//connections profile

.friend-detail {
  height: fit-content;
  width: fit-content;

  position:relative;

  @media screen and (min-width: 1260px){
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    top: 50px;
  }


  @media screen and (max-width: 1259px){
    position:absolute;
    margin-top: 20px;
    transform:translateY(240px);
    height: fit-content;
  }
}


#connections-message{
  font-size: 50px;
  @include connectionsFont();
}

//scroll bar settings 
#friend-index{
  ::-webkit-scrollbar{
    width: 10px;
    height: 10px;
    position: absolute;
    top:100px;
    background: linear-gradient(to bottom, #397090, #daa7c5 93%);
  }
  ::-webkit-scrollbar-corner{
    display: none;
  }
  ::-webkit-scrollbar-track-piece{
    display: none; 
  }
}
.card::-webkit-scrollbar{
  height: 8px;
  width: 8px;
  margin: 10px;
  background: linear-gradient(to bottom, #ffffff00, #FFFFFF, #daa7c500 93%);
}