@import "_auth_forms";

$minWidth450: "(min-width: 450px)"; 
$maxWidth450: "(max-width: 450px)"; 



@mixin input-style{
    background-color: #fefefe;
    color: black;
    @media #{$minWidth450}{font-size: 17px;}
    @media #{$maxWidth450}{font-size: 15px;}

    font-family: $railway;
    text-indent: 10px;
    height: 30px;
    width: 90%;
    border-radius: 20px;
    z-index: 3;
    margin: 5px 0;
}

.login-form {
    width: 100%;
    @media #{$maxWidth450}{width: 55%;}
    color: $linkr-orange;
    background-color: $lightest-gray;
    font-family: $railway;
    border: 1px solid $light-gray;
    border-radius: 20px;
    padding: 5%;
    div{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
}

.header-container {
  text-align: center;
  margin-bottom: 10px;

  font-size: 27px;
  @media #{$maxWidth450}{font-size: 20px;}
}

.login-input {
  @include input-style();
  border: 1px solid $light-gray;
}

.login-input-error {
  @include input-style();
  border: 1px solid red;
}

.login-submit {
  @include submit-button-style($darker-linkr-orange);
}
.login-demo-submit {
  @include submit-button-style($better-linkr-blue); 
  margin-bottom: 5px;
}
