.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 11;
    
    .modal-child {
        font-size: 1.7vh;
        background-color: $linkr-blue;
        padding: 15px;
        position: absolute;
        border-radius: 7px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.signup-form {
    color: $linkr-orange;
    background-color: $lightest-gray;
    font-family: $railway;
    border: 1px solid $light-gray;
    border-radius: 7px;
    padding: 5%;
}

.signup-input {
    font-size: 17px;
    font-family: $railway;
    text-indent: 10px;
    width: 100%;
    height: 30px;
    z-index: 3;
    border: 1px solid $light-gray;
    margin: 4px;
    border-radius: 20px;
}

.session-footer {
    text-align: center;
}

.recruiter-button {
    background-color: $linkr-orange;
    color: $lightest-gray;
    margin-top: 5px;
    margin-right: 10px;
    border-radius: 20px;
    width: 40px;
    height: 27px;
    text-align: center;
    border: 1px solid $light-gray;
}

.session-submit {
    background-color: $linkr-orange;
    color: $lightest-gray;
    margin-top: 5px;
    margin-right: 10px;
    border-radius: 20px;
    width: 160px;
    height: 27px;
    text-align: center;
}

.recruiter-button:hover {
    cursor: pointer;
    filter: brightness(70%);
}

.session-submit:hover {
    cursor: pointer;
    filter: brightness(70%);
}

.city-industry-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 7px;
    height: 100px;
    text-align: center;
    // border: 1px solid $light-gray;
}

.city-industry-icon {
    width: 100%;
}

.city-industry-icon:hover {
    cursor: pointer;
    display: block;
    padding-bottom: inherit;
    border: 1px solid $light-gray;

    .cit-ind-dropdown {
        display: block;
        font-size: 1.2vh;
        color: $darker-linkr-blue;
        text-align: left;
        padding-left: 4px;

        .list-item:hover {
            background-color: $light-gray;
        }
    }
}

.cit-ind-dropdown {
    display: none;
}