
@media screen and (min-width: 1100px){
  .profile-container{
      width: 400px;
  }
  .image-container{
    padding-top: 15px;
    width: 200px;
    height: 225px;

    #img-main{
        padding: 4px;
        border: 3px solid;
        min-width: 175px;
        max-width: 200px;
        min-height: 170px;
        max-height: 200px;
        object-fit: cover;
    }
  }
  .edit-b,.upload-pic{
    font-size: 15px;
  }
  #img-main, #edit{
    height: 30px;
    width: 30px;
  }
  .user-info{
    .user-icon{
      width: 20px;
      height: 20px;
    }
  }
  .user-details{
    h2{
        font-size: 13px;
    }
    .details-desc{
      img{
          width: 25px;
      }
    }
  }
  .links.img{
      width: 35px;
  }
  .user-details-name{
    font-size: 35px;
  }
  .card,.flip-card-front, .flip-card-back{
    height: 650px;
  }
  .edit-form{
    label{
      min-width: 85px;
      height: 30px;
    }
    .edit-fields{
      padding-left: 40px  
    }
    input{
      width: 225px;
    }
    hr{
      margin: 0 40px;
    }
  }
  .upload-pic{
    button{
      height: 30px;
      width: 30px;
    }
    input {
      height: 30px;
      width: 30px;
    }
  }
}
@media screen and (max-width: 1099px){
  .profile-container{
      width: 330px;
  }
  .image-container{
    padding-top: 15px;
    width: 165px;
    height: 190px;

    #img-main{
        padding: 4px;
        border: 3px solid;
        min-width: 140px;
        max-width: 165px;
        min-height: 140px;
        max-height: 165px;
        object-fit: cover;
    }
  }
  .edit-b,.upload-pic{
    font-size: 12px;
  }
  #img-main, #edit{
    height: 20px;
    width: 20px;
  }
  .user-info{
    .user-icon{
      width: 20px;
      height: 20px;
    }
  }
  .user-details{
    h2{
        font-size: 13px;
    }
    .details-desc{
      img{
          width: 20px;
      }
    }
  }
  .links.img{
    width: 25px;
  }
  .user-details-name{
    font-size: 25px;
  }
  .card,.flip-card-front, .flip-card-back{
    height: 615px;
  }
  .edit-form{
    label{
      min-width: 85px;
      height: 25px;
    }
    .edit-fields{
      padding-left: 40px  
    }
    input{
      width: 178px;
    }
    hr{
        margin: 0 35px;
    }
  }
  .upload-pic{
    button{
      height: 20px;
      width: 20px;
    }
    input {
      height: 20px;
      width: 20px;
    }
  }
}

.profile-page{
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    background-image: url('../../pics/space1.jpg');
    background-size: cover;
    background-position: 50%;
}

.card{
  text-align: center;
  font-family: "Raleway", sans-serif;
  border: 1px;
  border-radius: 50px;
  overflow: auto;
  overflow-wrap: break-word;
  box-shadow: 0px 1px 0px 0px darkorange;
  background: rgba(44, 36, 90, 0.83);
}

.image-container{
    display: flex;
    margin: auto;
    align-items: center;
    #img-main{
        margin-left: 15px;
        border-radius: 75px;
        padding: 4px;
        border-radius: 97px;
        background-size: cover;
        object-fit: cover;
    }
}

.edit-b{
    font-family: $railway;
    text-align: center;
    color: rgb(255, 215, 0);
    margin-top: -100px;
    margin-left: 10px;
}
#img-main, #edit{
    border: 1px solid rgb(255, 215, 0);
    border-radius: 15px;
}


.user-info{
    display: flex;
    justify-content: space-between;
    color: $linkr-blue;
    .user-icon{
        display: flex;
        justify-content: center;
        padding-right: 20px;
    }
}

.user-info.loc{
    display: flex;
    justify-content: center;
    color: white;
    p{
        padding-top: 4px;
    }
    img{
        padding-right: 10px;
    }
}

.user-details{
    margin: 7px 15px 0 15px;
    color: orange;
    p{
        color: white;
        display: flex;
        justify-content: end;
    }
    .details-desc{
        display: flex;
        p{
            padding-top: 5px;

        }
        img{
            padding-left: 10px;
        }
    }
}

.links{
    display: flex;
    justify-content: center;
    color: gold;
}

.user-details-name{
  color: orange;
}



//flip

.profile-container{
    perspective: 1000px;
}

.card{
    width: 100%;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.profile-container.is-flipped .card{
    transform: rotateY(180deg);
}

.profile-container.is-flipped .flip-card-front{
    display: none;
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back{
    transform: rotateY(180deg);
    color: white;
}
.profile-container.is-flipped .flip-card-back{
    backface-visibility: visible;
}

//end flip

.edit-form{
    label{
        justify-content: flex-end;
        display: flex;
        padding: 5px;
        padding-top: 10px;
        border-right: 1px solid rgb(255, 255, 255);
    }
    .edit-fields{
        display: flex;
    }
    input {
        padding-left: 10px;
    }
}

.update-btn{
    margin-top: 20px;
  padding: 8px;
  border: 2px solid rgb(255, 215, 0);
  color: rgb(240, 248, 255);
  border-radius: 21px;
  background-color: rgb(184, 134, 11);
  box-shadow: 3px 3px 7px 0px black;
}

.upload-pic{
    font-family: "Raleway", sans-serif;
  text-align: center;
  color: rgb(255, 215, 0);
  margin-top: -100px;
  margin-left: -49px;
    button{
        border: 1px solid rgb(255, 215, 0);
        border-radius: 15px;
        margin-top: 8px;
        cursor: default;
    }
    input {
      border: 1px solid rgb(255, 215, 0);
      border-radius: 15px;
      position: relative;
        bottom: 31px;
        left: -1px;
        opacity: 0;
    }
    h1{
        margin-top: -15px;

    }
}