 #root{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  z-index: -3;
  background-size: cover;
 }
 
 .splash-container {
  top: 0;
  right: 0;
  left: 0;
  display: block;
  position:absolute;
  height:100vh;
  width:100vw;
   background:
  linear-gradient(
    rgba(0, 0, 0, 0.137),
    rgba(0, 0, 0, 0)
  ),
  url('../../pics/iStock-1145350457.jpg');
  
 }
.nav-wrap{
  z-index: 400;
  position: absolute;
  width: 100vw;
}

.nav-bar{
    background: transparent;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px 15px;
}

.float-left {
  float: left;
  color: aliceblue;
  background-color: transparent; 
  font-size: 30px;
  width: 130px;
  height: 50px;
  display: flex;
  align-items: center;
  text-decoration: none;
  h1{
  font-family: $railway;
  font-style: bold;
  font-weight: 7;
  color:#209cee;
  }
  img{
    height:4.0vh;
    width:auto;
    margin-right: 2px;
  }
}


.float-right {
  float: right;
  display: flex;
  align-items: center;
  font-size: 20px;
  .btn-sm {
    color: $gray;
    font-weight: 700;
    padding: 1vh .5vw;
    transition: background-color 0.5s;
    transition: color 0.5s;
    font-family: sans-serif;
    font-size: 2.2vh;
    border: 1px solid transparent;
  }
  .btn-bg {
    padding: 5px 10px;
    border: 1px solid $linkr-blue;
    background-color: $lightest-gray;
    border-radius: 2.2vh;
    transition: background-color 0.5s;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 20px;

  }
  
  .btn-sm:hover {
    background-color: $light-gray;
    color: rgb(230, 144, 32);
    border-radius: 3px;
    height: fit-content;
    width: fit-content;
    border-radius: 25px;
    // border: 1px solid transparent;
  }

  .btn-bg:hover{
    background-color: lightblue;
  }
}

.splash-text{
    position: absolute;
    top: 13vh;
    font-family: "Paytone One", sans-serif;
    width: 50%;
    line-height: 5.0vw;
    font-size: 3.8vw;
    color: #B2D6F9;
    right: 3vw;
    z-index: 5;
    padding-left: 2.3vw;
    text-shadow: 0 0 3px #cf9269;
    text-align:right;
}



.hero-img{
    bottom: 1vh;
    left: 1vw;
    z-index: 0;
    position: absolute;
    opacity: 9.4;
    height: 51vh;
    width: auto;
}

.splash-text2{
   top: 47vh;
    position: absolute;
    font-family: "Questrial", sans-serif;
    width: 44%;
    padding-bottom: 4vw;
    line-height: 3.3vw;
    font-size: 2.5vw;
    color: #e2e2e2;
    left: 37vw;
}


.nav-links{
  // padding: 5px;
  color: rgb(65, 65, 66);
  font-family: $railway;
  margin: 0 10px;
  text-decoration: none;
  background: #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px white;
  font-weight: lighter;
}


.nav-links:hover{
  color: black;
}

.btn-bg.logout{
  width: 90px;
  height: 27px;
  line-height: 10px;
  font-size: 20px;
  font-family: $railway;
  transition: background-color 0.5s;
}

.btn-bg.logout:hover{
  background-color: $linkr-orange;
}

.about-us-link{
    color: $gray;
    font-weight: 700;
    padding: 1vh .5vw;
    transition: background-color 0.5s;
    transition: color 0.5s;
    font-family: sans-serif;
    font-size:2.2vh;
    border: 1px solid transparent;
    text-decoration: none;
}

.about-us-link:hover{
    background-color: $light-gray;
    color: $linkr-blue;
    height: fit-content;
    width: fit-content;
    border-radius: 25px;
}