 #root{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom,  $linkr-blue-transparent, #bb5e20ea 99%);
  z-index: -3;
  background-size: cover;
 }
 
 .splash-container {
  top: 0;
  right: 0;
  left: 0;
  display: block;
  position:absolute;
  height:100vh;
  width:100vw;
  
 }

.nav-bar{
   position: relative;
   display: flex;
   justify-content: space-between;
   padding: 12px 16px;
   z-index: 1;
}

.float-left {
  float: left;
  color: aliceblue;
  background-color: transparent; 
  font-size: 20px;
  width: 130px;
  height: 50px;
  display: flex;
  h1{
  font-family: $railway;
  font-style: bold;
  font-weight: 7;
  color:#209cee;
  }
}


.float-right {
  float: right;
  display: block;
  .btn-sm {
    color: $dark-gray;
    font-weight: 700;
    padding: 6px 12px;
    transition: background-color 0.5s;
    transition: color 0.5s;
    font-family: sans-serif;
    font-size: 20px;
    border: 1px solid transparent;
  }
  .btn-bg {
    padding: 6px 12px;
    border: 1px solid $linkr-blue;
    background-color: $lightest-gray;
    border-radius: 25px;
    transition: background-color 0.5s;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 20px;

  }
  
  .btn-sm:hover {
    background-color: $light-gray;
    color: $linkr-orange;
    border-radius: 3px;
    height: fit-content;
    width: fit-content;
    border-radius: 25px;
    // border: 1px solid transparent;
  }

  .btn-bg:hover{
    background-color: lightblue;
  }
}

.splash-text{
    position: absolute;
    margin-top: 13vh;
    font-family: "Paytone One", sans-serif;
    width: 58%;
    line-height: 4.3vw;
    font-size: 4.3vw;
    color: #209cee;
    z-index: 5;
    padding-left: 2.3vw;
    text-shadow: 0 0 3px #cf9269;
}



.hero-img{
  bottom: 0;
  z-index: 0;
  width:100vw;
  position: absolute;
  opacity: 94%;
}

.splash-text2{
     margin-top: 32vh;
    position: absolute;
    font-family: "Paytone One", sans-serif;
    width: 47%;
    padding-bottom: 4vw;
    line-height: 3.3vw;
    font-size: 3.2vw;
    color: #d5783a;
    right: 0px;
    text-shadow: 2px 1px 4px white;
}

.nav-links{
  padding: 5px;
  color: $dark-gray;
  font-family: $railway;
  margin: 0 10px;
  text-decoration: none;
}


.nav-links:hover{
  color: black;
}

.btn-bg.logout{
  width: 65px;
  height: 18px;
  line-height: 10px;
  font-size: 20px;
  font-family: $railway;
  transition: background-color 0.5s;
}

.btn-bg.logout:hover{
  background-color: $linkr-orange;
}

// .hero,.hero2{
//   padding-left: 20px;
//   opacity: 100%;
//   position:absolute;
// }

// .hero{
//   color: ;
// }