.new-connection-container{
    height:15vh;
    box-sizing: border-box;
    font-family: $questrial;
    font-size: 30px;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}