
#connections-page{
  background-color: $linkr-orange-transparent;
  display: flex;
  flex-direction: column;
  width: 80vw;
  img{
    object-fit: contain;
    max-height: 20vw;
  }
}
.connections-row{

  border-top: 1px solid $linkr-blue;
  width: 90vw;
}

#connections-table{
  margin-top: 10vw; 
  width: 70vw;
  border-radius: 8%;
  td{
    width: 33%;
    border-radius: 20%;
    border: .3vw solid $darker-linkr-blue; 
    background-color: $linkr-blue-less-transparent;
    img{
      object-fit: contain;
      max-height: 100%;
      max-width: 100%;
      border-radius: inherit;
    }
  } 
}
#connections-details{
  width: 100%;
  font-size: 6vw;
}