@mixin inputStyle{
  height: 30px;
  background-color: #fefefe;
  font-size: 17px;
  font-family: $railway;
  text-indent: 10px;
  z-index: 3;
  border: 1px solid $light-gray;
  border-radius: 20px;
  margin: 4px;
  color: black; 
  }
  
  %inputStyle{
    @include inputStyle;
  }

.welcome-message {
  font-size: 27px;
  text-align: center;
}

#add-profile-image{
  background-color: black; 
  height: 30px;
  width: 30px; 
}
#image-preview {
    width: 125px;
    height: 125px;
    border: 1px solid $linkr-blue;
    border-radius: 50%;
    margin: 20px auto 10px auto;

    img{
      height: 100%;
      width: 100%;
      object-fit:cover;
      object-position: center;
      border-radius: 50%;
    }
}
.signup-form {
    color: $other-orange;
    background-color: $lightest-gray;
    width: 100%;
    font-family: $railway;
    border: 1px solid $light-gray;
    border-radius: 7px;
    padding: 5%;
}
//inputs 
.signup-input {
@extend %inputStyle;
  width: 100%;
}
.city-industry-input{
  @extend %inputStyle;
}
.city-industry-container {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 0 auto 10px auto;
}

.choose-file {
  font-family: $railway;
  font-size: 1.7vh;
  text-align: center;
  margin: auto 0;
  background-color: $better-linkr-blue;
  border-radius: 20px;
  color: white;
  width: 160px;
  height: 27px;
  margin: 15px 0 1px 0;
}
  

.choose-file:hover {
    cursor: pointer;
    filter: brightness(70%);
}
//errors
.signup-input-error {
    font-family: $railway;
    text-indent: 10px;
    width: 100%;
    height: 30px;
    z-index: 3;
    border: 1px solid red;
    margin: 4px;
    border-radius: 20px;
    color: black;
}

//submit buttons
.session-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    input[type="file"]{
      display: none;
    }
}

.session-submit {
    background-color: $darker-linkr-orange;
    color: $lightest-gray;
    margin-top: 5px;
    border-radius: 20px;
    width: 160px;
    height: 27px;
    text-align: center;
}

.session-submit:hover {
    cursor: pointer;
    filter: brightness(70%);
}

.field-errors {
    height: 20px;
    color: red;
    text-align: center;
    font-size: 14px;
  }
    

//footer
.switch-form-container {
    margin-top: 15px;
    color: $better-linkr-blue;
    font-size: 15px;
    text-align: center;
}

.switch-form {
    cursor: pointer;
    color: $other-orange;
    margin:auto;
}

.switch-form:hover {
    cursor: pointer;
    filter: brightness(70%);
}
