#main-page{
    height: 100vh;
    width:100vw;
    display: flex;
    flex-direction: column;
    z-index: 100;
    position:relative;
    background: url('../../background_images/salar_dry_dusk.jpg');

    #swipe{
        display:flex;
        justify-content: space-between;
        position:fixed;
        bottom: 10px;
        left:5px;
        right:5px;

        button{
            height:5vh;
            width: 9vw;
            border: 1px solid $linkr-blue;
            border-radius: 20px;
            background-color: #73c3ff8a;
            text-align: center;
            font-family: $railway;
            color:$dark-gray;
        }
        button:hover{
            background-color: $linkr-blue;
            color: white;
        }

    }

    .profile-container{
        display: flex;
        flex-direction: column;
        width: 400px;
        height:650px;
        font-family: $railway;
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);

        .card{
            text-align: center;
            font-family: "Raleway", sans-serif;
            background: linear-gradient(to bottom, #0e3459, #4b82b8 99%);
            border: 1px;
            border-radius: 50px;
            overflow: auto;
            overflow-wrap: break-word;
            box-shadow: 0px 1px 10px 5px rgb(105, 99, 99);
        }

     #profile-main-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color:transparent;
        button{
            display: flex;
            border-radius: 10px;
            border: 1px solid lightblue;
            align-items: center;
            padding: 4px;
            font-size: 12px;
            img{
                height:5vh;
                width:5vw;
            }
        }
         button:hover{
            background-color: $light-gray;
        }

        .user-image-container{
            justify-content: center;
            // width:30vw;
            display: flex;
            padding-top: 20px;
            
            #profile-img{
                // max-width: 15vw;
                // max-height: 15vw;
                object-fit: cover;
                border-radius: 50%;
                border: .4vw solid white;
                min-width: 175px;
                max-width: 190px;
                min-height: 170px;
                max-height: 190px;
            }
        }

        #user-name{
            font-size: 35px;
            font-family: $railway;
            color: #cf9269;
            padding:5px 0px;
        }
        #user-location{
            display:flex;
            color: whitesmoke;
            img{
                height:25px;
                width:25px;
            }
        }
    }

    #body{
        display: flex;
        flex-direction: column;
        align-items: center;
        

        #stats{
            .details{
                font-size: 18px;
                width:300px;
                padding: 7px;
                display: flex;
                justify-content: space-around;
                text-align: center;
                align-items: center;
                margin-bottom: 5px;
                border-bottom: 1px solid grey;
                #label{
                    border-right: 1px solid gray;
                    width:175px;
                }
                p{
                    width:100%;
                    font-size: 15px;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    img{
                        height:30px;
                        width:30px;
                    }
                }
                

            }
            .details:last-child{
                border-bottom: none;
            }
        }

        img#linkedIn{
            height:20px;
            width:20px;
            text-align: center;
        }
        .links-conatiner{
            margin-top: 10px;
            p{
                border-bottom: 1px solid $dark-gray;
            }
        }
    }

}
}
