#main-page{
    background: linear-gradient(to bottom, #dc6240 0%, #ffffff 99%);
    display: flex;
    flex-direction: column;
    .profile{
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        font-family: $railway;

     #profile-main-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color:transparent;
        padding: 40px 0px 15px 0px;
        button{
            display: flex;
            border-radius: 10px;
            border: 1px solid lightblue;
            align-items: center;
            padding: 4px;
            font-size: 12px;
            img{
                height:12px;
                width:12px;
            }
        }
         button:hover{
            background-color: $light-gray;
        }

        .image-container{
            width:30vw;
            #profile-img{
                max-width: 30vw;
                max-height: 30vw;
                object-fit: cover;
                border-radius: 50%;
                border: .4vw solid white;
            }
        }

        #user-name{
            margin-bottom: 5px;
            font-size: 6vw;
            font-family: $railway;
            color: lightgray;
        }
        #user-location{
            display:flex;
            img{
                height:25px;
                width:25px;
            }
        }
    }

    #body{
        display: flex;
        flex-direction: column;
        align-items: center;
        // background: linear-gradient(to bottom, #dc624079 25%, #ffffff 99%);

        #stats{
            .details{
                font-size: 14px;
                padding: 4px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                p{
                    font-size: 15px;
                    text-align: center;
                }

            }
        }

        img#linkedIn{
            height:20px;
            width:20px;
        }
    }

}
}