.welcome-container {
  width: 100%;
  height: 50vh;
//   background-color: blue;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  font-family: 'Raleway';
  color: white;
}



@keyframes topFadeOut {
  0% {
    position: absolute;
    top: -3rem;
    opacity: 0;
  }

  75% {
    position: absolute;
    top: 20%;
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes bottomFadeOut {
  0% {
    position: absolute;
    bottom: -5rem;
    opacity: 0;
  }

  75% {
    position: absolute;
    bottom: 25%;
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
  
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  45% {
    opacity: 1;
  }

  100% {
    opacity: 0%;
  }
}
.frame-1 span{
  font-size: 25px;
}

.frame-1 {
  text-align: center;
  font-size: 50px;
  position: absolute;
  top: 3rem;
  opacity: 0;
  animation-name: topFadeOut;
  animation-duration: 3s;
  
}
.frame-1 > span{
    font-size: 30px;
  }

.frame-2 {
  font-size: 40px;
  position: absolute;
  top: 8.5rem;
  opacity: 0;
  animation-name: fadeInOut;
  animation-delay: 3s;
  animation-duration: 2s;

}

.frame-3 {
  text-align: center;
  font-size: 2vw;
  position: absolute;
  left: 5%;
  top: 20%;
  opacity: 0;
  animation-name: fadeInOut;
  animation-delay: 5s;
  animation-duration: 3s;
//   white-space: nowrap;
}
.frame-3 span{
  font-weight: 1000;
  color: rgb(182, 181, 181);
}

.frame-4 {
  font-size: 40px;
  position: absolute;
  left: 5%;
  bottom: 25%;
  opacity: 0;
  animation-name: bottomFadeOut;
  animation-delay: 8s;
  animation-duration: 4s;
}

.frame-5 {
  font-size: 40px;
  position: absolute;
  left: 5%;
  bottom: 25%;
  opacity: 0;
  animation-name: bottomFadeOut;
  animation-delay: 12s;
  animation-duration: 4s;
}

.frame-6 {
  font-size: 40px;
  position: absolute;
  left: 5%;
  bottom: 25%;
  opacity: 0;
  animation-name: bottomFadeOut;
  animation-delay: 16s;
  animation-duration: 2s;
  // animation: move 5s infinite;
  // animation-fill-mode: forwards;
}


